body{	
	background: white;
	margin: 0;
	font-family: 'Raleway-medium copy ', serif;
}
.topbar{
	width: 100%;
	height: 60px;
	background-color: #000;
	color: #fff;
	font-weight: initial;
}
.top img{
	margin-right: 5%;
}
.to{
	margin-left: 5%;
}
nav{
	background-color: #000;
	width: 100%;
	justify-content: space-around;
	height: 50px;
	position: sticky;
	display: block;
	top: 0;
	background: rgba(0,0,0,.8);
	border-top: 1px solid rgba(255,255,255,.2);
	border-bottom: 1px solid rgba(255,255,255,.2);
	z-index: 100;
}
nav img{
	float: left;
	margin: 5px 0 5px 50px;
}
.class{
	background-color: black;
}
nav ul{
	display: flex;
	margin: 2px;
	padding: 0 100px;
	float: right;
}
nav ul li{
	list-style: none;
}
nav ul li a{
	display: block;
	color: #fff;
	padding: 0 20px;
	font-size: 15px;
	text-align: center;
	line-height: 50px;
	text-transform: capitalize; 
	text-decoration: none;
}
nav ul li a:hover,
nav ul li a.active{
	background-color: #fff;
	color: #000;
	text-decoration: none;
}
.class{
	background-color: black;
}

.dropbutton{
	       padding: 16px;
	       font-size: 16px;
	       border-radius: 5px;
	       color: blue;
	       padding-bottom: 10px;
	       align-content: center;
}
.dropbtn{
	       background-color: aliceblue;
	       color: black;
	       padding: 16px;
	       font-size: 16px;
	       border-radius: 16px

}
.dropdown {
	        position: relative;
	        display: block;
	    }
.dropdown-content{
	display: flex;
	position: absolute;
	background-color: grey;
	min-width: 160px;
	box-shadow: 04px 8px 16px 033px rgba(0,0,0,0.2);
	z-index: 1;

	}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: flex;
	font-weight: normal;

}
.dropdown-content a:hover{
	background-color: papayawhip;
}
.dropdown:hover
.dropdown-content{
	display: flex;
}
.dropdown:hover
.dropbtn {
	background-color: #17a2b8;
}
.marg{
	margin-right: 5%;
	width: 90%;
	margin-left: 5%;
}
.container1{
	margin-left: 5%;
	width: 90%;
	margin-right: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.navigate{
	height: 40px;
	background-color: white;
}
.menu a{
	text-decoration: none;
	color: black;
	padding: 10px;
	border-radius: 3px;
	font-size: 20px;
}
.menu a:hover{
	background-color: #17a2b8;
	color: #fff;
	border-radius: 3px;
	text-decoration: none;
}
a.active{
	background-color: #17a2b8;
	color: #000;
	border-radius: 3px;
}
.centre{
	text-align: center;
	justify-content: space-around;
}

.about-content{
	flex: 1;
}
.black-header{
	font-size: 35px;
	font-weight: normal;
	color: #000;
	text-align: right;
	text-decoration: underline;
}
footer{
	background-color: black;
	color: white;
	height: 20px;	
	align-content: space-between;
	padding: 20px;
	display: flex;
}
.contents{
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 180px;
	margin-bottom: 50px;
}
.content{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin-right: 10px;
}
.contexty{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin-right: 10px;
}
.content-icon{
	flex: 4;
	background-color: salmon;
}
.content-note{
	padding: 20px;
	color: white;
	background-color: palevioletred;
	flex: 8;
	font-family: 'Raleway', sans-serif;
}
.font-size{
	font-size: 15px;
}
.font-size li{
	list-style: circle;
}
.content-3{
	background-color: red;

}









